<div id="e-commerce-dashboard" class="page-layout simple fullwidth">

    <!-- CONTENT -->
    <div class="content p-24 w-100-p">

        <!-- WIDGET GROUP -->
        <div class="widget-group" fxLayout="row" fxFlex="100" fxLayoutWrap fxLayoutAlign="start start" *fuseIfOnDom [@animateStagger]="{value:'50'}">

            <!-- WIDGET 1 -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                <!-- Front -->
                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                        <mat-form-field>
                            <mat-select class="simplified font-size-16" aria-label="Change range" [ngModel]="w1">
                                <mat-option [value]="1">Yestarday</mat-option>
                                <mat-option [value]="2">Today</mat-option>
                                <mat-option [value]="3">Tomorrow</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-icon-button fuseWidgetToggle aria-label="more">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                        <div class="light-blue-fg font-size-72 line-height-72">
                            650
                        </div>
                        <div class="h3 secondary-text font-weight-500">PRODUCTS</div>
                    </div>
                    <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                        <span class="h4 secondary-text text-truncate">Completed:</span>
                        <span class="h4 ml-8">10</span>
                    </div>
                </div>
                <!-- / Front -->
                <!-- Back -->
                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                        <mat-icon class="s-16">close</mat-icon>
                    </button>
                    <div>
                        Description
                    </div>
                </div>
                <!-- / Back -->
            </fuse-widget>
            <!-- / WIDGET 1 -->
            <!-- WIDGET 2 -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                <!-- Front -->
                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="h3">Overdue</div>

                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>

                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                        <div class="red-fg font-size-72 line-height-72">
                            44
                        </div>
                        <div class="h3 secondary-text font-weight-500">PRODUCTS</div>
                    </div>

                    <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                        <span class="h4 secondary-text text-truncate">Yestarday's Overdue:</span>
                        <span class="h4 ml-8">4</span>
                    </div>
                </div>
                <!-- / Front -->

                <!-- Back -->
                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                        <mat-icon class="s-16">close</mat-icon>
                    </button>

                    <div>
                        Details
                    </div>
                </div>
                <!-- / Back -->

            </fuse-widget>
            <!-- / WIDGET 2 -->
            <!-- WIDGET 3 -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                <!-- Front -->
                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="h3">Issues</div>

                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>

                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                        <div class="orange-fg font-size-72 line-height-72">
                            4
                        </div>
                        <div class="h3 secondary-text font-weight-500">PRODUCTS</div>
                    </div>

                    <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                        <span class="h4 secondary-text text-truncate">Closed Today:</span>
                        <span class="h4 ml-8">0</span>
                    </div>
                </div>
                <!-- / Front -->

                <!-- Back -->
                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                        <mat-icon class="s-16">close</mat-icon>
                    </button>

                    <div>
                        Details
                    </div>
                </div>
                <!-- / Back -->

            </fuse-widget>
            <!-- / WIDGET 3 -->
            <!-- WIDGET 4 -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                <!-- Front -->
                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="h3">Featured</div>

                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>

                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                        <div class="blue-grey-fg font-size-72 line-height-72">38
                        </div>
                        <div class="h3 secondary-text font-weight-500">PRODUCTS</div>
                    </div>

                    <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                        <span class="h4 secondary-text text-truncate">Implemented:</span>
                        <span class="h4 ml-8">2</span>
                    </div>
                </div>
                <!-- / Front -->

                <!-- Back -->
                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                        <mat-icon class="s-16">close</mat-icon>
                    </button>

                    <div>
                        Details
                    </div>
                </div>
                <!-- / Back -->

            </fuse-widget>
            <!-- / WIDGET 4 -->
            <!-- WIDGET 5 -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row" fxFlex="100">

                <!-- Front -->
                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

                    <div class="px-16 border-bottom" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>

                        <div fxFlex class="py-8 h3">Progress</div>

                        <!-- <div fxFlex="0 1 auto" class="py-8" fxLayout="row">
                            <button mat-button class="px-16" *ngFor="let range of widgets.widget5.ranges | keys" (click)="widget5.currentRange = range.key"
                                [disabled]="widget5.currentRange == range.key">
                                {{range.value}}
                            </button>
                        </div> -->
                    </div>

                    <div class="h-420">
                        <!-- <ngx-charts-bar-vertical-stacked *fuseIfOnDom [scheme]="widget5.scheme" [results]="this.widgets.widget5.mainChart[this.widget5.currentRange]"
                            [gradient]="widget5.gradient" [xAxis]="widget5.xAxis" [yAxis]="widget5.yAxis" [legend]="widget5.legend"
                            [showXAxisLabel]="widget5.showXAxisLabel" [showYAxisLabel]="widget5.showYAxisLabel" [xAxisLabel]="widget5.xAxisLabel"
                            [yAxisLabel]="widget5.yAxisLabel" (select)="widget5.onSelect($event)">
                        </ngx-charts-bar-vertical-stacked> -->
                    </div>
                </div>
                <!-- / Front -->
            </fuse-widget>
        </div>
        <!-- / WIDGET GROUP -->

    </div>
    <!-- / CONTENT -->

</div>