#e-commerce-dashboard {

    .content {
        flex: 1 0 auto;
    }

}

.card-1-hearder {
    justify-content: center;
    font-family: Muli,'Helvetica Neue',Arial,sans-serif;
    font-size: 20px;
    color: #039be5 !important;
}
