<div id="e-commerce-dashboard" class="page-layout simple fullwidth">

    <!-- CONTENT -->
    <div class="content p-24 w-100-p">

        <!-- WIDGET GROUP -->
        <div class="widget-group" fxLayout="row" fxFlex="100" fxLayoutWrap fxLayoutAlign="start start" *fuseIfOnDom [@animateStagger]="{value:'50'}">

            <!-- WIDGET 1 -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                <!-- Front -->
                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="h3">Products</div>
                        <button mat-icon-button fuseWidgetToggle aria-label="more">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                        <div class="light-blue-fg font-size-72 line-height-72">
                            {{dashboard.product_count}}
                        </div>
                        <div class="h3 secondary-text font-weight-500">PRODUCTS</div>
                    </div>
                    <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                        <span class="h4 secondary-text text-truncate">Active Products:</span>
                        <span class="h4 ml-8">{{dashboard.active_product_count}}</span>
                    </div>
                </div>
                <!-- / Front -->
                <!-- Back -->
                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                        <mat-icon class="s-16">close</mat-icon>
                    </button>
                    <div>
                        Description
                    </div>
                </div>
                <!-- / Back -->
            </fuse-widget>
            <!-- / WIDGET 1 -->
            <!-- WIDGET 2 -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                <!-- Front -->
                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="h3">Categories</div>

                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>

                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                        <div class="red-fg font-size-72 line-height-72">
                            {{dashboard.category_count}}
                        </div>
                        <div class="h3 secondary-text font-weight-500">CATEGORIES</div>
                    </div>

                    <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                        <span class="h4 secondary-text text-truncate">Active Categories:</span>
                        <span class="h4 ml-8">{{dashboard.category_count}}</span>
                    </div>
                </div>
                <!-- / Front -->

                <!-- Back -->
                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                        <mat-icon class="s-16">close</mat-icon>
                    </button>

                    <div>
                        Details
                    </div>
                </div>
                <!-- / Back -->

            </fuse-widget>
            <!-- / WIDGET 2 -->
            <!-- WIDGET 3 -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                <!-- Front -->
                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="h3">Brands</div>

                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>

                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                        <div class="orange-fg font-size-72 line-height-72">
                            {{dashboard.brand_count}}
                        </div>
                        <div class="h3 secondary-text font-weight-500">BRANDS</div>
                    </div>

                    <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                        <span class="h4 secondary-text text-truncate">Active Brands:</span>
                        <span class="h4 ml-8">{{dashboard.brand_count}}</span>
                    </div>
                </div>
                <!-- / Front -->

                <!-- Back -->
                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                        <mat-icon class="s-16">close</mat-icon>
                    </button>

                    <div>
                        Details
                    </div>
                </div>
                <!-- / Back -->

            </fuse-widget>
            <!-- / WIDGET 3 -->
            <!-- WIDGET 4 -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                <!-- Front -->
                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="h3">Users</div>

                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>

                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                        <div class="blue-grey-fg font-size-72 line-height-72">{{dashboard.user_count}}
                        </div>
                        <div class="h3 secondary-text font-weight-500">USERS</div>
                    </div>

                    <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                        <span class="h4 secondary-text text-truncate">Active Users:</span>
                        <span class="h4 ml-8">{{dashboard.user_count}}</span>
                    </div>
                </div>
                <!-- / Front -->

                <!-- Back -->
                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                        <mat-icon class="s-16">close</mat-icon>
                    </button>

                    <div>
                        Details
                    </div>
                </div>
                <!-- / Back -->

            </fuse-widget>
            <!-- / WIDGET 4 -->
            <!-- WIDGET 5 -->
            <!-- <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row" fxFlex="100">
                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                    <div class="px-16 border-bottom" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>
                        <div fxFlex class="py-8 h3">Progress</div>
                    </div>
                    <div class="h-420">
                    </div>
                </div>
            </fuse-widget> -->
        </div>
        <!-- / WIDGET GROUP -->

    </div>
    <!-- / CONTENT -->

</div>