#e-commerce-dashboard {}

.card-1-hearder {
  justify-content: center;
  font-family: Muli, 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  color: #039be5 !important;
}

.orderBtn {
  font-size: 25px;
}
