<div id="taxes" class="page-layout carded fullwidth" fusePerfectScrollbar>
  <div class="top-bg mat-accent-bg"></div>
  <div class="center">
    <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
      <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">monetization_on</mat-icon>
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Taxes</span>
      </div>
      <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
        <label for="search" class="mr-8">
          <mat-icon class="secondary-text">search</mat-icon>
        </label>
        <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
          <input id="search" matInput #filter placeholder="Search">
        </mat-form-field>
      </div>
      <button mat-raised-button [routerLink]="'/tax-management/tax/new'" class="add-brand-button mat-white-bg my-12 mt-sm-0">
        <span>ADD NEW TAX</span>
      </button>
    </div>
    <div class="content-card mat-white-bg">
      <mat-table class="taxes-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>
        <ng-container cdkColumnDef="id">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>ID</mat-header-cell>
          <mat-cell *cdkCellDef="let tax">
            <p class="text-truncate">{{tax.id}}</p>
          </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="title">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Tax Title</mat-header-cell>
          <mat-cell *cdkCellDef="let tax">
            <p class="text-truncate">{{tax.title}}</p>
          </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="value">
          <mat-header-cell *cdkHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Tax Value</mat-header-cell>
          <mat-cell *cdkCellDef="let tax">
            <p class="text-truncate">{{tax.value}}</p>
          </mat-cell>
        </ng-container>
        <br>
        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let tax; columns: displayedColumns;" class="tax" matRipple [routerLink]="'/tax-management/tax/' + tax.id">
        </mat-row>
      </mat-table>
      <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
</div>