<div class="tab-content p-24" fusePerfectScrollbar style="background-color: rgb(243, 240, 240)">
    <mat-card style="background-color: #F4F4F7">
        <legend style="padding: 10px">
            <h2>Variants</h2>
        </legend>
        <p>
            Add variants if this product comes in multiple versions, like different sizes or colors.

        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Option name</th>
                    <th>Option Value</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let optionSet of option_with_value">
                    <tr>
                        <td>{{optionSet.name}}</td>
                        <td>
                            <ng-container *ngFor="let opt of getOption(optionSet.option_set_id)">
                                <button class="btn btn-xs btn-info">{{opt.name}}</button>
                            </ng-container>
                        </td>
                    </tr>
                </ng-container>

            </tbody>
        </table>
        <div class="row" style="margin-bottom:10px">
            <div class="col-md-12">
                <button class="btn btn-success" [disabled]="isAddorEditSKU" (click)="addOrEditSku()">Add Sku</button>
                <button class="btn btn-info">Generate Sku</button>
            </div>

        </div>
        <div *ngIf="isAddorEditSKU">
            <mat-card>
                <form name="skuForm" #skuForm="ngForm">

                    <mat-card-content>
                        <br>
                        <div class="row">
                            <div class="col-md-1" *ngFor="let optionSet of option_with_value">
                                <label>{{optionSet.name}}</label>
                                <mat-select placeholder="Select {{optionSet.name}}" (change)="addOptionSet($event.value, optionSet.option_set_id)"
                                    required>
                                    <mat-option *ngFor="let opt of getOption(optionSet.option_set_id)" [value]="opt.id">
                                        {{opt.name}}</mat-option>
                                </mat-select>
                            </div>
                            <div class="col-md-1">
                                <mat-form-field class="w-70-p">
                                    <input matInput name="sku" [(ngModel)]="product_variant.sku" placeholder="SKU"
                                        required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-1">
                                <mat-form-field class="w-70-p">
                                    <input matInput name="upc" [(ngModel)]="product_variant.upc" placeholder="UPC/EAN">
                                </mat-form-field>
                            </div>
                            <div class="col-md-1">
                                <mat-form-field class="w-70-p">
                                    <input matInput name="weight" [(ngModel)]="product_variant.weight" min="0"
                                        placeholder="Weight (kg)">
                                </mat-form-field>
                            </div>
                            <div class="col-md-1">
                                <mat-form-field class="w-70-p">
                                    <input matInput name="depth" [(ngModel)]="product_variant.depth" min="0"
                                        placeholder="Depth (mm)">
                                </mat-form-field>
                            </div>

                            <div class="col-md-1">
                                <mat-form-field class="w-70-p">
                                    <input matInput name="width" [(ngModel)]="product_variant.width" min="0"
                                        placeholder="Width (mm)">
                                </mat-form-field>
                            </div>
                            <div class="col-md-1">
                                <mat-form-field class="w-70-p">
                                    <input matInput name="height" [(ngModel)]="product_variant.height" min="0"
                                        placeholder="Height (mm)">
                                </mat-form-field>
                            </div>
                            <div class="col-md-1">
                                <mat-select placeholder="Operation" name="operation" [(ngModel)]="product_variant.operation"
                                    style="margin-top: 20px;">
                                    <mat-option value=1>Add</mat-option>
                                    <mat-option value=2>Subtract</mat-option>
                                </mat-select>

                            </div>
                            <div class="col-md-1">

                                <mat-select placeholder="Change by" name="changeBy" [(ngModel)]="product_variant.changeBy"
                                    style="margin-top: 20px;">
                                    <mat-option value=1>Absolute</mat-option>
                                    <mat-option value=2>Percentage</mat-option>
                                </mat-select>
                            </div>
                            <div class="col-md-1">
                                <input class="form-control" type="number" name="amount" [(ngModel)]="product_variant.amount"
                                    style="margin-top: 20px;" min="0" placeholder="Amount">
                            </div>

                            <div class="col-md-1">
                                <button (click)="mangeOption(skuForm);" class="btn btn-info btn-xs">
                                    <i class="material-icons">
                                        add
                                    </i>
                                </button>
                            </div>
                        </div>
                    </mat-card-content>
                    <div class="row">
                        <div class="col-md-12" style="text-align:center">
                            <label>Image Max size 2 mb</label>
                            <div class="center">
                                <div class="dropzone" id="dropzone" [dropzone]="config" (error)="onUploadError($event)"
                                    (success)="onUploadSuccess($event)"></div>
                            </div>
                        </div>

                    </div>

                </form>

                <!-- {{variants| json}} -->
                <table class="table" *ngIf="variants.length > 0">
                    <thead>
                        <tr>
                            <th>Sku</th>
                            <th>Upc</th>
                            <th>Weight</th>
                            <th>Depth</th>
                            <th>Width</th>
                            <th>Height</th>
                            <th>Operation</th>
                            <th>Change by</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let variant of variants">
                            <tr>
                                <td>{{variant.sku}}</td>
                                <td>{{variant.upc}}</td>
                                <td>{{variant.weight}}</td>
                                <td>{{variant.depth}}</td>
                                <td>{{variant.width}}</td>
                                <td>{{variant.height}}</td>
                                <td>{{(variant.operation) === '1'? 'Add' :(variant.operation) === '2'? 'Subtract' :
                                    'Null'}}</td>
                                <td>{{(variant.changeBy) === '1' ? 'Absolute' :(variant.changeBy) === '2'? 'Percentage'
                                    :
                                    'Null'}}</td>
                                <td>{{variant.amount}}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>

                <mat-card-actions style="text-align: right;">
                    <button class="btn btn-primary" mat-button (click)="addOrEditSku()">Cancel</button>
                    <button class="btn btn-info" mat-button (click)="saveProduct()">Save & Close</button>
                </mat-card-actions>

            </mat-card>
        </div>
    </mat-card>
</div>