<div class="tab-content p-24" fusePerfectScrollbar style="background-color: rgb(243, 240, 240)">
    <mat-card style="background-color: #F4F4F7">
        <legend style="padding: 10px">
            <h2>Variants</h2>
        </legend>
        <p>
            Add variants if this product comes in multiple versions, like different sizes or colors.

        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Option Name</th>
                    <th>Option Value</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let optionSet of productOptionSetAndValue">
                    <tr>
                        <td>{{optionSet.name}}</td>
                        <td>
                            <ng-container *ngFor="let opt of getOptions(optionSet.id)">
                                <span class="badge badge-pill badge-primary">{{opt.value}}</span>
                            </ng-container>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div class="row" style="margin-bottom:10px">
            <!-- hining for demo  -->
            <div class="col-md-12" [hidden]="true">
                <button class="btn btn-info">Generate Sku</button>
            </div>

        </div>
        <div>
            <mat-card>
                <div style="text-align: right">
                    <button (click)="isNewVariant()" [hidden]='isAction' class="btn btn-info" style="margin-bottom: 2%">Add
                        New Variant</button>
                </div>
                <ng-container *ngIf="isAction">
                    <form name="skuForm" #skuForm="ngForm">

                        <mat-card-content>
                            <br>
                            <div class="row">
                                <ng-container *ngIf="isNewPressed">
                                    <div class="col-md-6" *ngFor="let optionSet of productOptionSetAndValue">
                                        <mat-form-field class="w-100-p">
                                            <mat-select placeholder="Select {{optionSet.name}}" (change)="addOptionSet($event.value, optionSet.id)" required>
                                                <mat-option *ngFor="let opt of getOptions(optionSet.id)" [value]="opt.id">
                                                    {{opt.value}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="w-100-p">
                                        <input matInput name="sku" [(ngModel)]="variant.sku" placeholder="SKU" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="w-100-p">
                                        <input matInput name="weight" [(ngModel)]="variant.weight" min="0" placeholder="Weight (kg)">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="w-100-p">
                                        <input matInput name="depth" [(ngModel)]="variant.depth" min="0" placeholder="Depth (mm)">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="w-100-p">
                                        <input matInput name="width" [(ngModel)]="variant.width" min="0" placeholder="Width (mm)">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="w-100-p">
                                        <input matInput name="height" [(ngModel)]="variant.height" min="0" placeholder="Height (mm)">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="w-100-p">
                                        <mat-select placeholder="Operation" name="operation" (change)="operationSelected($event.value)" [(ngModel)]="variant.operation"
                                            style="margin-top: 5px;">
                                            <mat-option [value]="1">None</mat-option>
                                            <mat-option [value]="2">Add</mat-option>
                                            <mat-option [value]="3">Subtract</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="w-100-p">
                                        <mat-select placeholder="Change by" [disabled]="!enableOperation" name="change_by" [(ngModel)]="variant.changed_by" style="margin-top: 5px;">
                                            <mat-option [value]="1">Absolute</mat-option>
                                            <mat-option [value]="2">Percentage</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="w-100-p">
                                        <input matInput [disabled]="!enableOperation" placeholder="Amount" #amount="ngModel" name="amount" type="number" [(ngModel)]="variant.amount"
                                            min="0">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="margin-top: 20px;">
                                    <!-- <mat-form-field class="w-100-p"> -->
                                    <mat-checkbox #track_stock="ngModel" name="track_stock" [(ngModel)]="variant.track_stock">Track
                                        Stock
                                    </mat-checkbox>
                                    <!-- </mat-form-field> -->
                                </div>
                            </div>
                            <div class="row" *ngIf="variant.track_stock">
                                <div class="col-md-6">
                                    <mat-form-field class="w-100-p">
                                        <input matInput #stock="ngModel" name="stock" [(ngModel)]="variant.stock" placeholder="Stock" required>
                                    </mat-form-field>
                                    <span *ngIf="stock.touched && stock.errors?.required;" class="inline-icon error">
                                        <span>Please enter Stock.</span>!</span>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="w-100-p">
                                        <input matInput #low_level_stock="ngModel" name="low_level_stock" [(ngModel)]="variant.low_level_stock" placeholder="Low level Stock"
                                            required>
                                    </mat-form-field>
                                    <span *ngIf="low_level_stock.touched && low_level_stock.errors?.required;" class="inline-icon error">
                                        <span>Please enter Low Level Stock.</span>!</span>
                                </div>
                            </div>
                        </mat-card-content>
                        <div class="row">
                            <div class="col-md-12" style="text-align:center">
                                <label>Maximum 5 images and image maximum size 2 MB/image</label>
                                <div class="center">
                                    <div class="dropzone" id="dropzone" [dropzone]="config" (error)="onUploadError($event)" (success)="onUploadSuccess($event)">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row" style="text-align:center">

                            <ng-container *ngFor="let image of variant.images">
                                <div class="col-md-2">
                                    <img src="{{imageView(image.medium)}}" style="width: 150px; height: 150px;">
                                    <br>
                                    <br>
                                    <button (click)="removeImage(image.id)" type="btn" style="margin-bottom: 15px;" class="btn btn-danger btn-xs">
                                        <i class="material-icons">
                                            delete
                                        </i>
                                    </button>
                                    <br>
                                </div>
                            </ng-container>
                        </div>
                        <mat-card-actions>
                            <div style="text-align: right;">
                                <button class="btn btn-primary" mat-raised-button (click)="cancelVariant()">Cancel</button>

                                <button mat-raised-button style="background-color: #3E81CC; color: white" *ngIf="isNewPressed" (click)="mangeOption(skuForm);">Add</button>

                                <button mat-raised-button style="background-color: #3E81CC;color: white" *ngIf="isEdit" (click)="editVariant(skuForm);">Save</button>
                            </div>
                        </mat-card-actions>
                    </form>
                </ng-container>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Option Set</th>
                            <th>Sku</th>
                            <th>Weight</th>
                            <th>Depth</th>
                            <th>Width</th>
                            <th>Height</th>
                            <th>Operation</th>
                            <th>Change by</th>
                            <th>Amount</th>
                            <th>Stock</th>
                            <th>Low level stock</th>
                            <th>No of Image(s)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="12" style="text-align: center;" *ngIf="productVariants.variants.length === 0">No
                                Variant Added</td>
                        </tr>
                        <ng-container *ngFor="let variant of productVariants.variants">
                            <tr style="cursor:pointer" (click)="selectVariant(variant)">
                                <td>
                                    <ng-container *ngFor="let v of variant.product_variant_attributes">
                                        {{getOptionSetName(v.option_set_id)}} - {{getOptionValue(v.option_set_id)}}
                                        <br>
                                    </ng-container>
                                </td>
                                <td>{{variant.sku}}</td>
                                <td>{{variant.weight}}</td>
                                <td>{{variant.depth}}</td>
                                <td>{{variant.width}}</td>
                                <td>{{variant.height}}</td>
                                <td>{{variant.operation === 2 ? 'Add' :variant.operation === 3? 'Subtract' : 'None'}}</td>
                                <td>{{variant.changed_by === 1 ? 'Absolute' :variant.changed_by === 2? 'Percentage' : 'None'}}</td>
                                <td>{{variant.amount}}</td>
                                <td>{{variant.stock}}</td>
                                <td>{{variant.low_level_stock}}</td>
                                <td>{{variant.images.length}}</td>
                                <td>
                                    <button (click)="deleteVariant(variant.id)" type="btn" style="margin-bottom: 15px;" class="btn btn-danger btn-xs">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>

            </mat-card>
        </div>
    </mat-card>
</div>