<div id="tag" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/brands'">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">loyalty</mat-icon>

                <!-- <div class="product-image mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">

                </div> -->

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">

                    <div class="h2" *ngIf="pageType ==='new'">
                        New Tag
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Tag Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-brand-button mat-white-bg mt-16 mt-sm-0" *ngIf="pageType ==='new'" (click)="tagFormSubmition.click()">
                <span>ADD</span>
            </button>

            <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0" *ngIf="pageType ==='edit'" (click)="deleteTag()">
                <span>DELETE</span>
            </button>


            <button mat-raised-button class="save-brand-button mat-white-bg mt-16 mt-sm-0" *ngIf="pageType ==='edit'" (click)="edittagFormSubmition.click()">

                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <form name="tagForm" #tagForm="ngForm" class="brand w-100-p" fxLayout="column" fxFlex>

                    <!-- <mat-tab-group> -->

                    <!-- <mat-tab label="Details"> -->
                    <div class="tab-content p-24" fusePerfectScrollbar>

                        <mat-form-field class="w-100-p">
                            <input matInput name="bName" [(ngModel)]="tag.name" #bName="ngModel" placeholder="Tag Name" required>
                        </mat-form-field>
                        <span *ngIf="bName.touched && bName.errors?.required" class="error">
                            <span>Tag Name is required.</span>!
                        </span>

                        <mat-form-field class="w-100-p">
                            <input matInput name="notes" [(ngModel)]="tag.notes" #notes="ngModel" placeholder="Notes">
                        </mat-form-field>
                        <span *ngIf="notes.touched && notes.errors?.required" class="error">
                                <span>Tag Notes is required.</span>!
                            </span>

                        <!-- <mat-form-field class="w-100-p"> -->
                        <br>
                        <!-- </mat-form-field> -->
                        <!-- <mat-form-field class="w-100-p">
                                    <input matInput name="taxRate" formControlName="taxRate" placeholder="Tax Class">
                                </mat-form-field> -->

                        <!-- <h3 class="mb-0">Categories</h3> -->

                        <!-- <tree-root [nodes]="nodes" [options]="options"></tree-root> -->
                    </div>
                    <!-- </mat-tab> -->


                    <!-- </mat-tab-group> -->
                    <input type="button" class="btn btn-primary" hidden #tagFormSubmition (click)="addTag(tagForm)">
                    <input type="button" class="btn btn-primary" hidden #edittagFormSubmition (click)="saveTag(tagForm)">
                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>