<div id="tag" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->
  <!-- CENTER -->
  <div class="center">

    <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
      <!-- APP TITLE -->
      <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/tag-management/tags'">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">loyalty</mat-icon>
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{pageType === 'edit' ? 'Update Tag': 'New Tag'}}</span>
      </div>
      <!-- / APP TITLE -->

      <!-- CRUD CONTROL -->
      <button mat-raised-button class="save-brand-button mat-white-bg mt-16 mt-sm-0" *ngIf="pageType ==='new'" (click)="tagFormSubmit.click()">
        <span>ADD</span>
      </button>

      <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0" *ngIf="pageType ==='edit'" (click)="delTag()">
        <span>DELETE</span>
      </button>

      <button mat-raised-button class="save-brand-button mat-white-bg mt-16 mt-sm-0" *ngIf="pageType ==='edit'" (click)="editTagFormSubmit.click()">
        <span>SAVE</span>
      </button>
      <!-- / CRUD CONTROL -->

    </div>
    <!-- CONTENT CARD -->

    <div class="content-card mat-white-bg" style="padding: 20px;">
      <div class="content">
        <form name="tagForm" #tagForm="ngForm" class="product w-100-p" fxLayout="column" fxFlex>
          <div class="tab-content p-24" fusePerfectScrollbar>

            <mat-form-field class="w-100-p">
              <input matInput name="name" #name="ngModel" [(ngModel)]="tag.name" placeholder="Tag name" required>
            </mat-form-field>
            <span *ngIf="name.touched && name.errors?.required;" class="inline-icon error red-fg">
              <span>Tag name is required.</span>!</span>

            <mat-form-field class="w-100-p">
              <input matInput  name="notes" #notes="ngModel" [(ngModel)]="tag.notes" placeholder="Notes">
            </mat-form-field>

          </div>
          <input type="button" class="btn btn-primary" hidden #tagFormSubmit (click)="addTag(tagForm)">
          <input type="button" class="btn btn-primary" hidden #editTagFormSubmit (click)="updateTag(tagForm)">
        </form>
      </div>
    </div>
    <!-- CONTENT CARD -->
  </div>
</div>
