<div id="permission" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center">

        <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/user-management/manage-permission/permissions'">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">verified_user</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{pageType === 'edit' ? 'Update Permission': 'New Permission'}}</span>
            </div>
            <!-- / APP TITLE -->

            <!-- CRUD CONTROL -->
            <button mat-raised-button class="save-brand-button mat-white-bg mt-16 mt-sm-0" *ngIf="pageType ==='new'" (click)="permissionFormSubmit.click()">
                <span>ADD</span>
            </button>

            <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0" *ngIf="pageType ==='edit'" (click)="delPermission()">
                <span>DELETE</span>
            </button>

            <button mat-raised-button class="save-brand-button mat-white-bg mt-16 mt-sm-0" *ngIf="pageType ==='edit'" (click)="editPermissionFormSubmit.click()">
                <span>SAVE</span>
            </button>
            <!-- / CRUD CONTROL -->

        </div>
        <!-- CONTENT CARD -->

        <div class="content-card mat-white-bg" style="padding: 20px;">
            <div class="content">
                <form name="permissionForm" #permissionForm="ngForm" class="product w-100-p" fxLayout="column" fxFlex>
                    <div class="tab-content p-24" fusePerfectScrollbar>
                        <mat-form-field class="w-100-p">
                            <input matInput required #name="ngModel" name="name" [(ngModel)]="permission.name" placeholder="Name">
                        </mat-form-field>
                        <span *ngIf="name.touched && name.errors?.required;" class="inline-icon error red-fg">
                            <span>Permission name is required.</span>!</span>
                    </div>
                    <input type="button" class="btn btn-primary" hidden #permissionFormSubmit (click)="addPermission(permissionForm)">
                    <input type="button" class="btn btn-primary" hidden #editPermissionFormSubmit (click)="updatePermission(permissionForm)">
                </form>
            </div>
        </div>
        <!-- CONTENT CARD -->
    </div>
</div>