<form name="supplierForm" #supplierForm="ngForm" class="product w-100-p" fxLayout="column" fxFlex>
    <div class="tab-content p-24" fusePerfectScrollbar>
        <mat-card>
            <legend style="padding: 10px">
                <h2>Product Details</h2>
            </legend>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="w-100-p">
                        <input matInput required #name="ngModel" [readonly]="pageType === 'edit' && !params.supplier_id" name="name" [(ngModel)]="product.name"
                            placeholder="Product Name">
                    </mat-form-field>
                    <span *ngIf="name.touched && name.errors?.required;" class="inline-icon error">
                        <span>Product name is required.</span>!</span>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="w-100-p">
                        <mat-select placeholder="Select Brand" name="brand_id" [(ngModel)]="product.brand_id">
                            <mat-option *ngFor="let brand of brands" [value]="brand.id">
                                {{brand.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <mat-form-field class="w-100-p">
                        <textarea matInput #long_description="ngModel" [readonly]="pageType === 'edit' && !params.supplier_id" name="long_description"
                            rows="3" [(ngModel)]="product.long_description" placeholder="Product Long Description" required></textarea>
                    </mat-form-field>
                    <span *ngIf="long_description.touched && long_description.errors?.required;" class="inline-icon error">
                        <span>Long description is required.</span>!</span>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="w-100-p">
                        <textarea required matInput #short_description="ngModel" [readonly]="pageType === 'edit' && !params.supplier_id" name="short_description"
                            rows="3" [(ngModel)]="product.short_description" placeholder="Product Short Description"></textarea>
                    </mat-form-field>
                    <span *ngIf="short_description.touched && short_description.errors?.required;" class="inline-icon error">
                        <span>Short description is required.</span>!</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ng-container>
                        <tree-root class="expand-tree" #tree [options]="categoryOption" [nodes]="categoryNodes" (activate)="activeNodes(tree.treeModel)"></tree-root>
                    </ng-container>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="w-100-p">
                        <mat-select placeholder="Select Taxes" name="tax_id" [(ngModel)]="product.tax_id">
                            <mat-option *ngFor="let tax of taxes" [value]="tax.id">
                                {{tax.title}} &nbsp; {{tax.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" fusePerfectScrollbar>
                    <mat-form-field class="w-50-p">
                        <mat-label>Select Category Above</mat-label>
                        <input matInput name="parentName" readonly placeholder="Parent Name" value="{{parentCat}}" width="100" height="100" />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-checkbox #active="ngModel" name="active" [(ngModel)]="product.active">Active
                    </mat-checkbox>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <label>Drag images for {{pageType === 'edit' ? product.name : 'product'}} and image maximum size 2 MB</label>
                    <div class="dropzone" [disabled]="pageType === 'edit' && !params.supplier_id" [dropzone]="config" (success)="onProductSuccess($event)"
                        (removedFile)="onProductRemove($event)" (error)="onUploadError($event)"></div>
                </div>
            </div>
            <br>
            <div class="row" *ngIf="pageType === 'edit'" style="text-align:center">

                <ng-container *ngFor="let image of product.product_images">
                    <div class="col-md-2">
                        <img src="{{baseURL}}{{image.medium}}" width="150" height="150">
                        <br>
                        <br>
                        <button (click)="removeImage(image.id)" *ngIf="this.pageType === 'edit' && this.params.supplier_id" type="btn" class="btn btn-danger btn-xs">
                            <i class="material-icons">
                                delete
                            </i></button>
                    </div>
                </ng-container>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: right;" *ngIf="pageType !== 'new' && this.params.supplier_id">
                    <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0" style="background-color: #1E8ACA !important ; color: #ffffff !important"
                        (click)="updateProduct()">
                        <span>Update Product</span>
                    </button>
                </div>
            </div>
        </mat-card>
    </div>

    <div class="tab-content p-24" fusePerfectScrollbar>
        <mat-card>
            <legend style="padding: 10px">
                <h2>Bulk Price</h2>
            </legend>
            <div class="row">
                <div class="col-md-12">
                    <form class="form-inline" name="bluckPriceForm" #bluckPriceForm="ngForm">
                        <div class="form-group">
                            <label for="name">Purchases between &nbsp; </label>
                            <mat-form-field>
                                <input matInput id="name" required placeholder="Item" #form="ngModel" name="form" [(ngModel)]="bluckPrice.from">
                            </mat-form-field>

                        </div>
                        <div class="form-group">
                            <label for="email">&nbsp; and &nbsp;</label>
                            <mat-form-field>
                                <input matInput id="name" required placeholder="Item" #to="ngModel" name="to" [(ngModel)]="bluckPrice.to">
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <label for="pwd"> &nbsp; of this product will receive a &nbsp; </label>
                            <mat-form-field>
                                <input matInput id="name" required placeholder="%" #discount="ngModel" name="discount" [(ngModel)]="bluckPrice.discount">
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <label for="pwd"> &nbsp; discount off each individual item &nbsp;&nbsp;&nbsp;
                            </label>
                        </div>
                        <button type="submit" class="btn btn-info btn-group-vertical" style="border-radius: 50%; padding: 0px !important;" (click)="addBluckPrice(bluckPriceForm)">
                            <i class="material-icons">
                                add
                            </i></button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ng-container *ngFor="let row of product.supplier.bulk_prices; let i=index">
                        <div class="row" style="text-align: left">
                            <div class="col-md-3">
                                <mat-form-field>
                                    <input matInput placeholder="Purchases between" value="{{row.from}}" #p_between name="p_between" style="margin-left: 91%;">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <input placeholder="and" #and name="and" matInput value="{{row.to}}">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <input placeholder="of this product will receive a % discount off each individual item" #discount name="discount" matInput
                                        value="{{row.discount}}">
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <div class="col-md-1" *ngIf="pageType === 'edit'">
                                    <button class="btn btn-info btn-group-vertical" style="border-radius: 50%; margin-left:-30px; padding: 0px !important" type="submit"
                                        class="btn btn-info btn-xs" (click)="editBulkPrice(row.id , p_between.value , and.value , discount.value)">
                                        <i class="material-icons" style="margin-top: 2px ; font-size: 20px">
                                            create
                                        </i></button>
                                </div>
                                <div class="col-md-1" *ngIf="pageType === 'edit'">
                                    <button class="btn btn-danger btn-group-vertical" style="border-radius: 50%; margin-left:-30px; padding: 0px !important"
                                        type="submit" class="btn btn-danger btn-xs" (click)="removeBulkPrice(row.id)">
                                        <i class="material-icons" style="margin-top: 2px ; font-size: 20px">
                                            delete
                                        </i></button>
                                </div>
                            </div>
                            <div class="col-md-2" *ngIf="pageType === 'new'">
                                <button class="btn btn-danger btn-group-vertical" style="border-radius: 50%; margin-left:-30px; padding: 0px !important"
                                    type="submit" class="btn btn-danger btn-xs" (click)="removeBluckPrice(i)">
                                    <i class="material-icons" style="margin-top: 2px ; font-size: 20px">
                                        remove
                                    </i></button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </mat-card>
    </div>

    <form name="otherSuppForm" #otherSuppForm="ngForm">
        <div class="tab-content p-24" fusePerfectScrollbar>
            <mat-card>
                <div class="row">
                    <div class="col-md-6">
                        <legend style="padding: 10px">
                            <h2>Other Details</h2>
                        </legend>
                        <!-- <div style="margin-top: 4%" class="row">
                            <div class="col-md-12">

                            </div>
                        </div> -->
                        <div style="margin-top: 4%" class="row">
                            <div class="col-md-12">
                                <mat-checkbox #printing_option="ngModel" name="printing_option" [(ngModel)]="product.supplier.printing_option">Printing
                                    option
                                </mat-checkbox>
                            </div>
                            <div *ngIf="product.supplier.printing_option" class="col-md-12">
                                <mat-selection-list id="sides" name="sides" [(ngModel)]="product.supplier.sides">
                                    <mat-list-option value="left">Left</mat-list-option>
                                    <mat-list-option value="right">Right</mat-list-option>
                                    <mat-list-option value="top">Top</mat-list-option>
                                    <mat-list-option value="bottom">Bottom</mat-list-option>
                                    <mat-list-option value="front">Front</mat-list-option>
                                    <mat-list-option value="back">Back</mat-list-option>
                                </mat-selection-list>
                            </div>
                        </div>
                        <div style="margin-top: 4%" class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-checkbox #track_stock="ngModel" name="track_stock" [(ngModel)]="product.supplier.track_stock">Track
                                            Stock
                                        </mat-checkbox>
                                    </div>
                                </div>
                                <div *ngIf="product.supplier.track_stock" class="row" style="margin-top: 2%">
                                    <div class="col-md-6">
                                        <mat-form-field class="w-100-p">
                                            <input matInput #stock="ngModel" name="stock" [(ngModel)]="product.supplier.stock" placeholder="Stock" required>
                                        </mat-form-field>
                                        <span *ngIf="stock.touched && stock.errors?.required && product.supplier.stock === 0;" class="inline-icon error">
                                            <span>Please enter Stock.</span>!</span>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="w-100-p">
                                            <input matInput #low_level_stock="ngModel" name="low_level_stock" [(ngModel)]="product.supplier.low_level_stock" placeholder="Low level Stock"
                                                required>
                                        </mat-form-field>
                                        <span *ngIf="low_level_stock.touched && low_level_stock.errors?.required && product.supplier.low_level_stock === 0;" class="inline-icon error">
                                            <span>Please enter Low Level Stock.</span>!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <legend style="padding: 10px">
                            <h2>Classes</h2>
                        </legend>
                        <mat-selection-list name="class" [(ngModel)]="product.supplier.class">
                            <mat-list-option [value]="1">Slider</mat-list-option>
                            <mat-list-option [value]="2">Featured</mat-list-option>
                            <mat-list-option [value]="3">On-sale</mat-list-option>
                            <mat-list-option [value]="4">new-arrival</mat-list-option>
                            <mat-list-option [value]="5">Promoted</mat-list-option>
                            <mat-list-option [value]="6">Add-on</mat-list-option>
                            <!-- <mat-list-option value="6">none</mat-list-option> -->
                        </mat-selection-list>
                    </div>
                </div>
            </mat-card>
        </div>

        <div class="tab-content p-24" fusePerfectScrollbar>
            <mat-card>
                <legend style="padding: 10px">
                    <h2>Supplier Details</h2>
                </legend>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w-100-p">
                            <mat-select placeholder="Select Supplier" [disabled]="pageType === 'edit'" #supplier_id="ngModel" name="supplier_id" [(ngModel)]="product.supplier.id"
                                required>

                                <mat-option *ngFor="let supplier of suppliers" [value]="supplier.id">
                                    {{supplier.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <span *ngIf="supplier_id.touched && supplier_id.errors?.required;" class="inline-icon error">
                            <span>Please Select a Supplier.</span>!</span>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field class="w-90-p">
                            <input matInput #buying_price="ngModel" name="buying_price" [(ngModel)]="product.supplier.buying_price" placeholder="Buying price">
                        </mat-form-field>

                    </div>
                    <div class="col-md-2">
                        <mat-form-field class="w-90-p">
                            <input matInput #market_price="ngModel" name="market_price" [(ngModel)]="product.supplier.market_price" placeholder="Market price">
                        </mat-form-field>

                    </div>
                    <div class="col-md-2">
                        <mat-form-field class="w-90-p">
                            <input matInput #price="ngModel" name="price" [(ngModel)]="product.supplier.price" placeholder="Selling Price" required>
                        </mat-form-field>
                        <span *ngIf="price.touched && price.errors?.required;" class="inline-icon error">
                            <span>Price is required.</span>!</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w-100-p">
                            <input matInput #sku="ngModel" name="sku" [(ngModel)]="product.supplier.sku" placeholder="Product Code/SKU" required>
                        </mat-form-field>
                        <span *ngIf="sku.touched && sku.errors?.required;" class="inline-icon error">
                            <span>SKU is required.</span>!</span>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100-p">
                            <input matInput #upc="ngModel" name="upc" [(ngModel)]="product.supplier.upc" placeholder="UPC/EAN">
                        </mat-form-field>
                        <span *ngIf="upc.touched && upc.errors?.required;" class="inline-icon error">
                            <span>UPC is required.</span>!</span>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <mat-form-field class="w-100-p">
                            <input type="number" step="0.1" matInput #width="ngModel" name="width" [(ngModel)]="product.supplier.width" placeholder="Width (Centimeters)"
                                required>
                        </mat-form-field>
                        <span *ngIf="width.touched && width.errors?.required;" class="inline-icon error">
                            <span>Width is required.</span>!</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w-100-p">
                            <input type="number" step="0.1" matInput #weight="ngModel" name="weight" [(ngModel)]="product.supplier.weight" placeholder="Weight (kg)"
                                required>
                        </mat-form-field>
                        <span *ngIf="weight.touched && weight.errors?.required;" class="inline-icon error">
                            <span>Weight is required.</span>!</span>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100-p">
                            <input type="number" step="0.1" matInput #height="ngModel" name="height" [(ngModel)]="product.supplier.height" placeholder="Height (Centimeters)"
                                required>
                        </mat-form-field>
                        <span *ngIf="height.touched && height.errors?.required;" class="inline-icon error">
                            <span>Height is required.</span>!</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w-100-p">
                            <input type="number" step="0.1" matInput #depth="ngModel" name="depth" [(ngModel)]="product.supplier.depth" placeholder="Depth (Centimeters)"
                                required>
                        </mat-form-field>
                        <span *ngIf="depth.touched && depth.errors?.required;" class="inline-icon error">
                            <span>Depth is required.</span>!</span>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12" style="text-align:center">
                        <label>Drag images for {{product.name}} by {{getSupplierName(product.supplier.id)}} and image maximum
                            size 2 MB</label>
                        <div class="dropzone" id="d1" [dropzone]="config" (removedFile)="onSupplierRemove($event)" (error)="onUploadError($event)"
                            (success)="onSupplierSuccess($event)"></div>
                    </div>
                </div>
                <br>
                <div class="row" *ngIf="pageType !== 'new' && params.supplier_id" style="text-align:center">

                    <ng-container *ngFor="let image of product.supplier.images">
                        <div class="col-md-2">
                            <img src="{{baseURL}}{{image.medium}}" width="150" height="150">
                            <br>
                            <br>
                            <button (click)="removeImage(image.id)" type="btn" class="btn btn-danger btn-xs">
                                <i class="material-icons">
                                    delete
                                </i></button>
                        </div>
                    </ng-container>
                </div>

                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6" style="text-align: right;">
                        <button *ngIf="pageType === 'new'" mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0" style="background-color: #1E8ACA !important ; color: #ffffff !important"
                            (click)="addProduct(supplierForm)">
                            <span>Save Product</span>
                        </button>
                        <button *ngIf="pageType === 'edit' && this.params.supplier_id" mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0"
                            style="background-color: #1E8ACA !important ; color: #ffffff !important" (click)="editSupplier(otherSuppForm)">
                            <span>Update Product Supplier</span>
                        </button>
                        <button *ngIf="pageType === 'edit' && !this.params.supplier_id" mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0"
                            style="background-color: #1E8ACA !important ; color: #ffffff !important" (click)="addNewSupplierToProduct(supplierForm)">
                            <span>Add Product Supplier</span>
                        </button>
                    </div>
                </div>
            </mat-card>
        </div>
    </form>
</form>