<div id="brands" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <!-- <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">shopping_basket</mat-icon> -->
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">card_travel</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Brands</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Search">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

            <button mat-raised-button [routerLink]="'/brands/new'" class="add-brand-button mat-white-bg my-12 mt-sm-0">
                <span>ADD NEW BRAND</span>
            </button>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>


            <mat-table class="brands-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
                fusePerfectScrollbar>



                <!-- <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container> -->

                <!-- ID Column -->
                <ng-container cdkColumnDef="id">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *cdkCellDef="let brand">
                        <p class="text-truncate">{{brand.id}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Image Column -->
                <!-- <ng-container cdkColumnDef="image">
                    <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
                    <mat-cell *cdkCellDef="let brand">
                        <img class="brand-image"
                             *ngIf="brand.images[0]" [alt]="brand.name"
                             [src]="brand.images[0].url"/>
                        <img *ngIf="!brand.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                    </mat-cell>
                </ng-container> -->

                <!-- Name Column -->
                <ng-container cdkColumnDef="name">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Brand Name</mat-header-cell>
                    <mat-cell *cdkCellDef="let brand">
                        <p class="text-truncate">{{brand.name}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Category Column -->
                <ng-container cdkColumnDef="notes">
                    <mat-header-cell *cdkHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Notes</mat-header-cell>
                    <mat-cell *cdkCellDef="let brand" fxHide fxShow.gt-md>
                        <p class="category text-truncate">
                            {{(brand.notes && brand.notes.length>15)? (brand.notes | slice:0:15)+'..':(brand.notes)}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container cdkColumnDef="image">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Brand Image</mat-header-cell>
                    <mat-cell *cdkCellDef="let brand">
                        <ng-container *ngIf="brand.image">
                            <img src="{{baseURL+brand.image.small}}" height="100" width="100">
                        </ng-container>
                        <ng-container *ngIf="!brand.image">
                            <p> No Image</p>
                        </ng-container>
                    </mat-cell>
                </ng-container>

                <br>

                <!-- Action Column -->


                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *cdkRowDef="let brand; columns: displayedColumns;" class="brand" matRipple [routerLink]="'/brands/'+brand.id">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>