<div id="options" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <!-- <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">shopping_basket</mat-icon> -->
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">local_mall</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Options</span>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button [routerLink]="'/options/option/new'" class="add-brand-button mat-white-bg my-12 mt-sm-0">
                <span>ADD NEW OPTION</span>
            </button>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">
            <mat-form-field class="w-50-p" style="align-self: center; margin-top: 2%;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>


            <mat-table class="options-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
                fusePerfectScrollbar>
                <ng-container cdkColumnDef="option_set">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Option Name</mat-header-cell>
                    <mat-cell *cdkCellDef="let option">
                        <p class="text-truncate">{{option.name}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="option_values">
                    <mat-header-cell *cdkHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Option Values</mat-header-cell>
                    <mat-cell *cdkCellDef="let option" fxHide fxShow.gt-md>
                        <mat-chip-list>
                            <mat-chip *ngFor="let optionValue of option.options; let i = index" class="mat-accent-500-bg">{{optionValue.value}}</mat-chip>
                        </mat-chip-list>
                    </mat-cell>
                </ng-container>
                <br>
                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *cdkRowDef="let option; columns: displayedColumns;" class="option" matRipple [routerLink]="'/options/option/'+option.id">
                </mat-row>
            </mat-table>
            <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>