<div id="option" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/options'">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">local_mall</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{pageType === 'edit' ? 'Update Option': 'New Option'}}</span>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-brand-button mat-white-bg mt-16 mt-sm-0" *ngIf="pageType ==='new'" (click)="optionFormSubmition.click()">
                <span>SAVE</span>
            </button>

            <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0" *ngIf="pageType ==='edit'" (click)="delOption()">
                <span>DELETE</span>
            </button>

            <button mat-raised-button class="save-brand-button mat-white-bg mt-16 mt-sm-0" *ngIf="pageType ==='edit'" (click)="editoptionFormSubmition.click()">
                <span>UPDATE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <form name="optionForm" #optionForm="ngForm" class="option w-100-p" fxLayout="column" fxFlex>

                    <!-- <mat-tab-group> -->

                    <!-- <mat-tab label="Details"> -->
                    <div class="tab-content p-24" fusePerfectScrollbar>

                        <mat-form-field class="w-100-p">
                            <input matInput name="name" #name="ngModel" [disabled]="pageType === 'edit'" [(ngModel)]="option.name" placeholder="Option Set" required>
                        </mat-form-field>
                        <span *ngIf="name.touched && name.errors?.required" class="error">
                            <span>Option Name required.</span>!
                        </span>
                        <br>
                        
                        <mat-form-field class="option-chip-list">
                            <mat-chip-list #chipList required>
                              <mat-chip class="mat-accent-600-bg" *ngFor="let opItem of option.options" [selectable]="selectable"
                                       [removable]="removable" (removed)="deleteOptionValue(opItem)">
                                {{opItem.value}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                              </mat-chip>
                              <input name="values" #values placeholder="Option Value"
                                     [matChipInputFor]="chipList"
                                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                     [matChipInputAddOnBlur]="addOnBlur"
                                     (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                          </mat-form-field>
                          <span *ngIf="chipList.errorState" class="error">
                            <span>Atleast 1 option value required.</span>!
                        </span>
                        <br>
                    </div>
                    <!-- </mat-tab> -->

                    <!-- </mat-tab-group> -->
                    <input type="button" class="btn btn-primary" hidden #optionFormSubmition (click)="addOption(optionForm)">
                    <input type="button" class="btn btn-primary" hidden #editoptionFormSubmition (click)="editOption(optionForm)">
                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>