<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
        
            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <!-- <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">shopping_basket</mat-icon> -->
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">shopping_cart</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Products</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                    <input id="search" matInput  (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->
        
            <button mat-raised-button [routerLink]="'/products/new'" class="add-product-button mat-white-bg my-12 mt-sm-0">
                <span>ADD NEW PRODUCT</span>
            </button>
        
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <mat-table class="products-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}">

                <!-- Name Column -->
                <ng-container cdkColumnDef="name">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *cdkCellDef="let product">
                        <p class="text-truncate">{{product.name}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Category Column -->
                <ng-container cdkColumnDef="category">
                    <mat-header-cell *cdkHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Category</mat-header-cell>
                    <mat-cell *cdkCellDef="let product" fxHide fxShow.gt-md>
                        <p class="text-truncate">{{product.category.name}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Brand Column -->
                <ng-container cdkColumnDef="brand">
                    <mat-header-cell *cdkHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Brand</mat-header-cell>
                    <mat-cell *cdkCellDef="let product" fxHide fxShow.gt-md>
                        <p class="text-truncate">{{product.brand.name}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Price Column -->
                <ng-container cdkColumnDef="price">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Price</mat-header-cell>
                    <mat-cell *cdkCellDef="let product; let i = index;" fxHide fxShow.gt-xs>
                        <p class="text-truncate">{{product.suppliers[0].pivot.price}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Quantity Column -->
                <ng-container cdkColumnDef="quantity">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Quantity</mat-header-cell>
                    <mat-cell *cdkCellDef="let product; let i = index;" fxHide fxShow.gt-sm>
                        <p class="text-truncate">{{product.suppliers[0].pivot.stock}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Active Column -->
                <ng-container cdkColumnDef="supplier">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Select Supplier</mat-header-cell>
                    <mat-cell *cdkCellDef="let product; let i = index;" fxHide fxShow.gt-xs>
                        <mat-form-field>
                            <mat-select placeholder="Select supplier" [ngModel]="product.suppliers[0].id" (ngModelChange)="onSupplierChange($event, product);">
                                <mat-option *ngFor="let supplier of getSupplier(product.id);" [value]="supplier.id">
                                    {{supplier.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                    </mat-cell>
                </ng-container>

                <!-- Active Column -->
                <ng-container cdkColumnDef="active">
                        <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Active</mat-header-cell>
                        <mat-cell *cdkCellDef="let product; let i = index;" fxHide fxShow.gt-xs>
                                <mat-checkbox [checked]="product.active" (change)="isActiveProduct($event, product.id)" ></mat-checkbox>
                        </mat-cell>
                    </ng-container>

                <!-- Action Column -->
                <ng-container cdkColumnDef="action">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Action</mat-header-cell>
                    <mat-cell *cdkCellDef="let product" fxHide fxShow.gt-xs>
                        <mat-icon class="active-icon mat-green-600-bg s-26" (click)="editProduct(product.id)" style="margin-right: 10%;cursor:pointer">edit</mat-icon>
                        <!-- <mat-icon class="active-icon mat-red-500-bg s-16">close</mat-icon> -->
                        <button mat-raised-button class="save-product-button mat-accent mt-16 mt-sm-0" (click)="addNewSupplier(product.id)">
                            <span>ADD NEW SUPPLIER</span>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *cdkRowDef="let products; columns: displayedColumns;" class="product" matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator #paginator [length]="totalItems" [pageSize]="perPage" (page)="pageChange($event)">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>