<div id="role-management" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">
            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">center_focus_strong</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Roles</span>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button [routerLink]="['/user-management/manage-role/role/new']" class="add-product-button mat-white-bg my-12 mt-sm-0">
                <span>ADD NEW ROLE</span>
            </button>

        </div>
        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">
            <mat-form-field class="w-50-p" style="align-self: center; margin-top: 2%;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
            <mat-table class="roles-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
                fusePerfectScrollbar>

                <!-- role Column -->
                <ng-container cdkColumnDef="role">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Role</mat-header-cell>
                    <mat-cell *cdkCellDef="let role">
                        <p class="text-truncate">{{role.name}}</p>
                    </mat-cell>
                </ng-container>

                <!-- permissions Column -->
                <ng-container cdkColumnDef="permissions">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Permissions</mat-header-cell>
                    <mat-cell *cdkCellDef="let role">
                        <p><span *ngFor="let permession of role.permissions; let i = index">{{permession.name}}<span
                                    *ngIf="i !== role.permissions.length - 1">, </span></span></p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *cdkRowDef="let role; columns: displayedColumns;" matRipple [routerLink]="['/user-management/manage-role/role/'+role.id]"
                    class="role">
                </mat-row>
            </mat-table>

            <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>


        </div>
        <!-- CONTENT CARD -->
    </div>
</div>