<div id="role-management" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">people</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Users</span>
            </div>
            <!-- / APP TITLE -->
        
            <!-- SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                    <input id="search" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->
        
            <button mat-raised-button [routerLink]="['/user-management/manage-user/user/new']" class="add-product-button mat-white-bg my-12 mt-sm-0">
                <span>ADD NEW USER</span>
            </button>
        
        </div>
        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">
            <mat-table class="users-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}">

                <!-- name Column -->
                <ng-container cdkColumnDef="name">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *cdkCellDef="let user">
                        <p class="text-truncate">{{user.name}}</p>
                    </mat-cell>
                </ng-container>

                <!-- email Column -->
                <ng-container cdkColumnDef="email">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Email</mat-header-cell>
                    <mat-cell *cdkCellDef="let user">
                        <p class="text-truncate">{{user.email}}</p>
                    </mat-cell>
                </ng-container>

                <!-- level Column -->
                <ng-container cdkColumnDef="level">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Level</mat-header-cell>
                    <mat-cell *cdkCellDef="let user">
                        <p class="text-truncate">{{user.level}}</p>
                    </mat-cell>
                </ng-container>

                <!-- roles Column -->
                <ng-container cdkColumnDef="roles">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Roles</mat-header-cell>
                    <mat-cell *cdkCellDef="let user">
                        <p><span *ngFor="let role of user.roles; let i = index">{{role.name}}<span *ngIf="i !== user.roles.length - 1">,
                                </span></span></p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *cdkRowDef="let user; columns: displayedColumns;" matRipple [routerLink]="['/user-management/manage-user/user/'+user.id]"
                    class="user">
                </mat-row>
            </mat-table>

            <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>


        </div>
        <!-- CONTENT CARD -->
    </div>
</div>