<div id="supplier" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
      fxLayoutAlign.gt-xs="space-between center">

      <!-- APP TITLE -->
      <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">

        <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/suppliers'">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">people</mat-icon>
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{pageType
          === 'edit' ? 'Update Supplier': 'New Supplier'}}</span>
      </div>
      <!-- / APP TITLE -->

      <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0" *ngIf="pageType ==='new'"
        (click)="supplierFormSubmition.click()">
        <span>ADD</span>
      </button>
      <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0" *ngIf="pageType ==='edit'"
        (click)="deleteSupplier()">
        <span>Delete</span>
      </button>
      <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0" *ngIf="pageType ==='edit'"
        (click)="editSupplierFormSubmition.click()">
        <span>SAVE</span>
      </button>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <!-- CONTENT -->
      <div class="content">

        <form name="supplierForm" #supplierForm="ngForm" class="product w-100-p" fxLayout="column" fxFlex>

          <!--<mat-tab-group>

            <mat-tab label="Basic Info">-->
          <div class="tab-content p-24" fusePerfectScrollbar>

            <mat-form-field class="w-100-p">
              <mat-label>Name</mat-label>
              <input matInput name="name" #name="ngModel" [(ngModel)]="supplier.name" placeholder="Supplier Name"
                required>
            </mat-form-field>
            <span *ngIf="name.touched && name.errors?.required;" class="inline-icon error">
              <span style="color: rgb(255, 0, 0)">Supplier Name is required.</span>!</span>
            <mat-form-field class="w-100-p">
              <mat-label>Supplier Type</mat-label>
              <mat-select matInput name="type" #type="ngModel" [(ngModel)]="supplier.type" required placeholder="Supplier Type">
                <mat-option value="WholeSaler">
                  Wholesaler
                </mat-option>
                <mat-option value="Retailer">
                  Retailer
                </mat-option>
              </mat-select>
            </mat-form-field>
            <span *ngIf="type.touched && type.errors?.required;" class="inline-icon error">
              <span style="color: rgb(255, 0, 0)">Supplier Type is required.</span>!</span>
            <br>
            <div class="row" [hidden]="hasImage">
              <div class="col-md-12" style="text-align:center">
                <label>Image Max size 2 MB</label>
                <div class="dropzone" [dropzone]="config" (canceled)="onCanceled($event)" (error)="onUploadError($event)"
                  (success)="onUploadSuccess($event)"></div>
              </div>
            </div>
            <br>
            <div *ngIf="true" class="row" style="text-align:center">
              <ng-container *ngIf="pageType === 'edit' && this.hasImage && this.supplier.image.id !== -1">
                <div class="col-md-2">
                  <img src="{{baseURL}}{{supplier.image.small}}" width="150" height="150">
                  <br>
                  <br>
                  <button (click)="removeImage(supplier.image.id)" type="btn" class="btn btn-danger btn-xs">
                    <i class="material-icons">
                      delete
                    </i>
                  </button>
                </div>
              </ng-container>
            </div>
            <br>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Contact Info
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field class="w-100-p">
                  <mat-label>Contact Person Name</mat-label>
                  <input matInput name="contact_name" #contact_name="ngModel" [(ngModel)]="supplier.contact.name"
                    placeholder="Name" required>
                </mat-form-field>
                <br>
                <span *ngIf="contact_name.touched && contact_name.errors?.required;" class="inline-icon error">
                  <span style="color: rgb(255, 0, 0)">Supplier Contact Name is required.</span>!</span>
                <mat-form-field class="w-100-p">
                  <mat-label>Email</mat-label>
                  <input matInput name="email" #email="ngModel" [(ngModel)]="supplier.contact.email" placeholder="Email"
                    required>
                </mat-form-field>
                <span *ngIf="email.touched && email.errors?.required;" class="inline-icon error">
                  <span style="color: rgb(255, 0, 0)">Supplier Email is required.</span>!</span>
                <mat-form-field class="w-100-p">
                  <mat-label>Postal Code</mat-label>
                  <input matInput name="postal_code" #postal_code="ngModel" [(ngModel)]="supplier.contact.postal_code"
                    placeholder="Postal Code" required>
                </mat-form-field>
                <span *ngIf="postal_code.touched && postal_code.errors?.required;" class="inline-icon error">
                  <span style="color: rgb(255, 0, 0)">Postal Code is required.</span>!</span>
                <mat-form-field class="w-100-p">
                  <mat-label>Number(House/Flat)</mat-label>
                  <input matInput name="no" #no="ngModel" [(ngModel)]="supplier.contact.no" placeholder="No" required>
                </mat-form-field>
                <span *ngIf="no.touched && no.errors?.required;" class="inline-icon error">
                  <span style="color: rgb(255, 0, 0)">Number is required.</span>!</span>
                <mat-form-field class="w-100-p">
                  <mat-label>Street</mat-label>
                  <input matInput name="street" #street="ngModel" [(ngModel)]="supplier.contact.street" placeholder="street"
                    required>
                </mat-form-field>
                <span *ngIf="street.touched && street.errors?.required;" class="inline-icon error">
                  <span style="color: rgb(255, 0, 0)">Street is required.</span>!</span>
                <mat-form-field class="w-100-p">
                  <mat-label>Country</mat-label>
                  <mat-select matInput name="country" #country="ngModel" [(ngModel)]="supplier.contact.country"
                    (change)="countrySelected($event.value)" required>
                    <mat-option value="Germany">Germany</mat-option>
                    <mat-option value="Canada">Canada</mat-option>
                  </mat-select>
                </mat-form-field>
                <span *ngIf="country.touched && country.errors?.required;" class="inline-icon error">
                  <span style="color: rgb(255, 0, 0)">Country is required.</span>!</span>
                <mat-form-field class="w-100-p">
                  <mat-label>State</mat-label>
                  <mat-select matInput name="city" #city="ngModel" [(ngModel)]="supplier.contact.city" required>
                    <mat-option *ngFor="let row of stateJSON" [value]="row.name">{{row.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <span *ngIf="city.touched && city.errors?.required;" class="inline-icon error">
                  <span style="color: rgb(255, 0, 0)">City is required.</span>!</span>
                <mat-form-field class="w-100-p">
                  <mat-label>PO Box</mat-label>
                  <input matInput name="po_box" #po_box="ngModel" [(ngModel)]="supplier.contact.po_box" placeholder="PO Box"
                    required>
                </mat-form-field>
                <span *ngIf="po_box.touched && po_box.errors?.required;" class="inline-icon error">
                  <span style="color: rgb(255, 0, 0)">PO BOX is required.</span>!</span>
                <mat-form-field class="w-100-p">
                  <mat-label>Phone Landline 1</mat-label>
                  <input matInput name="ph_landline1" [(ngModel)]="supplier.contact.ph_landline1" placeholder="Phone Landline 1">
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <mat-label>Phone Landline 2</mat-label>
                  <input matInput name="ph_landline2" [(ngModel)]="supplier.contact.ph_landline2" placeholder="Phone Landline 2">
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <mat-label>Phone Landline 3</mat-label>
                  <input matInput name="ph_landline3" [(ngModel)]="supplier.contact.ph_landline3" placeholder="Phone Landline 3">
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <mat-label>Phone Mobile 1</mat-label>
                  <input matInput name="ph_mobile1" [(ngModel)]="supplier.contact.ph_mobile1" placeholder="Phone Mobile 3">
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <mat-label>Phone Mobile 2</mat-label>
                  <input matInput name="ph_mobile2" [(ngModel)]="supplier.contact.ph_mobile2" placeholder="Phone Mobile 2">
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <mat-label>Phone Mobile 3</mat-label>
                  <input matInput name="ph_mobile3" [(ngModel)]="supplier.contact.ph_mobile3" placeholder="Phone Mobile 3">
                </mat-form-field>
              </mat-expansion-panel>
            </mat-accordion>

            <input type="button" class="btn btn-primary" hidden #supplierFormSubmition (click)="addSupplier(supplierForm)">
            <input type="button" class="btn btn-primary" hidden #editSupplierFormSubmition (click)="editSupplier(supplierForm)">

          </div>
          <!--</mat-tab>

          </mat-tab-group>-->
        </form>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->
</div>