<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
      fxLayoutAlign.gt-xs="space-between center">

      <!-- APP TITLE -->
      <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">people</mat-icon>
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Suppliers</span>
      </div>
      <!-- / APP TITLE -->

      <button mat-raised-button [routerLink]="'/suppliers/new'" class="add-product-button mat-white-bg my-12 mt-sm-0">
        <span>ADD NEW SUPPLIER</span>
      </button>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
        <mat-form-field class="w-50-p" style="align-self: center; margin-top: 2%;">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>

      <mat-table class="suppliers-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
        fusePerfectScrollbar>

        <!-- Name Column -->
        <ng-container cdkColumnDef="name">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *cdkCellDef="let supplier">
            <p class="text-truncate">{{supplier.name}}</p>
          </mat-cell>
        </ng-container>

        <!-- Email Column -->
        <ng-container cdkColumnDef="email">
          <mat-header-cell *cdkHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Email</mat-header-cell>
          <mat-cell *cdkCellDef="let supplier" fxHide fxShow.gt-md>
            <p class="category text-truncate">
              {{supplier.contact.email}}
            </p>
          </mat-cell>
        </ng-container>

        <!-- Phone Column -->
        <ng-container cdkColumnDef="phone">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Phone</mat-header-cell>
          <mat-cell *cdkCellDef="let supplier" fxHide fxShow.gt-xs>
            <p class="price text-truncate">
              {{supplier.contact.ph_landline1}}
            </p>
          </mat-cell>
        </ng-container>

        <!-- Type Column -->
        <ng-container cdkColumnDef="type">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Supplier Type</mat-header-cell>
          <mat-cell *cdkCellDef="let supplier" fxHide fxShow.gt-xs>
            <p class="price text-truncate">
              {{supplier.type}}
            </p>
          </mat-cell>
        </ng-container>

        <!-- Address Column -->
        <ng-container cdkColumnDef="address">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Address</mat-header-cell>
            <mat-cell *cdkCellDef="let supplier" fxHide fxShow.gt-sm>
              <p class="text-truncate">
                {{supplier.contact.no}}, {{supplier.contact.street}},<br>{{supplier.contact.city}},
                {{supplier.contact.country}}
              </p>
            </mat-cell>
          </ng-container>

        <!-- Image Column -->
        <ng-container cdkColumnDef="image">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Image</mat-header-cell>
          <mat-cell *cdkCellDef="let supplier" fxHide fxShow.gt-xs>
            <ng-container *ngIf="supplier.image">
              <img src="{{baseURL+supplier.image.small}}" width="100" height="100">
            </ng-container>
            <ng-container *ngIf="!supplier.image">
              <p> No Image</p>
            </ng-container>

          </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *cdkRowDef="let supplier; columns: displayedColumns;" class="supplier" matRipple [routerLink]="'/suppliers/'+supplier.id">
        </mat-row>

      </mat-table>

      <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>