<div id="supplier" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="70">

        <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/suppliers'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div class="product-image mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          <img *ngIf="supplier.contact.profile_image" [src]="supplier.contact.profile_image">
          <img *ngIf="!supplier.contact.profile_image" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
        </div>

        <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="pageType ==='edit'">
            {{supplier.name}}
          </div>
          <div class="h2" *ngIf="pageType ==='new'">
            New Supplier
          </div>
          <div class="subtitle secondary-text">
            <span>Supplier Detail</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

      <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0" *ngIf="pageType ==='new'" (click)="supplierFormSubmition.click()">
        <span>ADD</span>
      </button>
      <!-- <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0" *ngIf="pageType ==='edit'" (click)="deleteSupplier()">
        <span>Delete</span>
      </button> -->
      <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0" *ngIf="pageType ==='edit'" (click)="editSupplierFormSubmition.click()">
        <span>SAVE</span>
      </button>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <!-- CONTENT -->
      <div class="content">

        <form name="supplierForm" #supplierForm="ngForm" class="product w-100-p" fxLayout="column" fxFlex>

          <!--<mat-tab-group>

            <mat-tab label="Basic Info">-->
          <div class="tab-content p-24" fusePerfectScrollbar>

            <mat-form-field class="w-100-p">
              <mat-label>Name</mat-label>
              <input matInput name="name" #name="ngModel" [(ngModel)]="supplier.name" placeholder="Supplier Name" required>
            </mat-form-field>
            <span *ngIf="name.touched && name.errors?.required;" class="inline-icon error">
              <span style="color: rgb(255, 0, 0)">Supplier Name is required.</span>!</span>
            <mat-form-field class="w-100-p">
              <mat-label>Supplier Type</mat-label>
              <mat-select matInput name="type" #type="ngModel" [(ngModel)]="supplier.type" required placeholder="Supplier Type">
                <mat-option value="WholeSaler">
                  Wholesaler
                </mat-option>
                <mat-option value="Retailer">
                  Retailer
                </mat-option>
              </mat-select>
            </mat-form-field>
            <span *ngIf="type.touched && type.errors?.required;" class="inline-icon error">
              <span style="color: rgb(255, 0, 0)">Supplier Type is required.</span>!</span>
            <br>
            <fieldset class="w-100-p">
              <mat-card *ngIf="pageType ==='edit'">
                <ng-container *ngIf="supplier.image">
                  <img src="{{baseURL+supplier.image.small}}" width="100" height="100">
                </ng-container>
                <ng-container *ngIf="!supplier.image">
                  <p> No Image</p>
                </ng-container>
              </mat-card>
              <input type="file" name="fileUp" (change)="handleFileSelect($event)">
            </fieldset>
            <br>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Contact Info
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field class="w-100-p">
                  <mat-label>Contact Person Name</mat-label>
                  <input matInput name="contact_name" #contact_name="ngModel" [(ngModel)]="supplier.contact.name" placeholder="Name" required>
                </mat-form-field>
                <br>
                <span *ngIf="contact_name.touched && contact_name.errors?.required;" class="inline-icon error">
                  <span style="color: rgb(255, 0, 0)">Supplier Contact Name is required.</span>!</span>
                <mat-form-field class="w-100-p">
                  <mat-label>Email</mat-label>
                  <input matInput name="email" #email="ngModel" [(ngModel)]="supplier.contact.email" placeholder="Email" required>
                </mat-form-field>
                <span *ngIf="email.touched && email.errors?.required;" class="inline-icon error">
                  <span style="color: rgb(255, 0, 0)">Supplier Email is required.</span>!</span>
                <mat-form-field class="w-100-p">
                  <mat-label>Postal Code</mat-label>
                  <input matInput name="postal_code" #postal_code="ngModel" [(ngModel)]="supplier.contact.postal_code" placeholder="Postal Code"
                    required>
                </mat-form-field>
                <span *ngIf="postal_code.touched && postal_code.errors?.required;" class="inline-icon error">
                  <span style="color: rgb(255, 0, 0)">Postal Code is required.</span>!</span>
                <mat-form-field class="w-100-p">
                  <mat-label>No</mat-label>
                  <input matInput name="no" #no="ngModel" [(ngModel)]="supplier.contact.no" placeholder="No" required>
                </mat-form-field>
                <span *ngIf="no.touched && no.errors?.required;" class="inline-icon error">
                  <span style="color: rgb(255, 0, 0)">Number is required.</span>!</span>
                <mat-form-field class="w-100-p">
                  <mat-label>Street</mat-label>
                  <input matInput name="street" #street="ngModel" [(ngModel)]="supplier.contact.street" placeholder="street" required>
                </mat-form-field>
                <span *ngIf="street.touched && street.errors?.required;" class="inline-icon error">
                  <span style="color: rgb(255, 0, 0)">Street is required.</span>!</span>
                <mat-form-field class="w-100-p">
                  <mat-label>Country</mat-label>
                  <mat-select matInput name="country" #country="ngModel" [(ngModel)]="supplier.contact.country" (change)="countrySelected($event.value)"
                    required>
                    <mat-option value="Germany">Germany</mat-option>
                    <mat-option value="Canada">Canada</mat-option>
                  </mat-select>
                </mat-form-field>
                <span *ngIf="country.touched && country.errors?.required;" class="inline-icon error">
                  <span style="color: rgb(255, 0, 0)">Country is required.</span>!</span>
                <mat-form-field class="w-100-p">
                  <mat-label>State</mat-label>
                  <mat-select matInput name="city" #city="ngModel" [(ngModel)]="supplier.contact.city" required>
                    <mat-option *ngFor="let row of stateJSON" [value]="row.name">{{row.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <span *ngIf="city.touched && city.errors?.required;" class="inline-icon error">
                  <span style="color: rgb(255, 0, 0)">Country is required.</span>!</span>
                <mat-form-field class="w-100-p">
                  <mat-label>PO Box</mat-label>
                  <input matInput name="po_box" #po_box="ngModel" [(ngModel)]="supplier.contact.po_box" placeholder="PO Box" required>
                </mat-form-field>
                <span *ngIf="po_box.touched && po_box.errors?.required;" class="inline-icon error">
                  <span style="color: rgb(255, 0, 0)">Country is required.</span>!</span>
                <mat-form-field class="w-100-p">
                  <mat-label>Phone Landline 1</mat-label>
                  <input matInput name="ph_landline1" [(ngModel)]="supplier.contact.ph_landline1" placeholder="Phone Landline 1">
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <mat-label>Phone Landline 2</mat-label>
                  <input matInput name="ph_landline2" [(ngModel)]="supplier.contact.ph_landline2" placeholder="Phone Landline 2">
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <mat-label>Phone Landline 3</mat-label>
                  <input matInput name="ph_landline3" [(ngModel)]="supplier.contact.ph_landline3" placeholder="Phone Landline 3">
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <mat-label>Phone Mobile 1</mat-label>
                  <input matInput name="ph_mobile1" [(ngModel)]="supplier.contact.ph_mobile1" placeholder="Phone Mobile 3">
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <mat-label>Phone Mobile 2</mat-label>
                  <input matInput name="ph_mobile2" [(ngModel)]="supplier.contact.ph_mobile2" placeholder="Phone Mobile 2">
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <mat-label>Phone Mobile 3</mat-label>
                  <input matInput name="ph_mobile3" [(ngModel)]="supplier.contact.ph_mobile3" placeholder="Phone Mobile 3">
                </mat-form-field>
              </mat-expansion-panel>
            </mat-accordion>

            <input type="button" class="btn btn-primary" hidden #supplierFormSubmition (click)="addSupplier(supplierForm)">
            <input type="button" class="btn btn-primary" hidden #editSupplierFormSubmition (click)="saveSupplier(supplierForm)">





            <!--<mat-form-field class="w-100-p">
                                    <textarea matInput
                                              name="description"
                                              formControlName="description"
                                              placeholder="Product Description"
                                              rows="5">
                                    </textarea>
                </mat-form-field>

                <h3 class="mb-0">Categories</h3>
                <mat-form-field class="w-100-p" floatPlaceholder="never">
                  <mat-chip-list matPrefix #categoryList
                                 name="categories"
                                 formControlName="categories">

                    <mat-chip *ngFor="let category of supplier.categories"
                              removable="true" (removed)="supplier.removeCategory(category)">
                      {{category}}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                  </mat-chip-list>
                  <input matInput
                         matChipInputAddOnBlur="true"
                         (matChipInputTokenEnd)="supplier.addCategory($event)"
                         placeholder="Add category..."
                         [matChipInputFor]="categoryList"/>
                </mat-form-field>

                <h3 class="mb-0">Tags</h3>
                <mat-form-field class="w-100-p" floatPlaceholder="never">
                  <mat-chip-list matPrefix #tagList
                                 name="tags"
                                 formControlName="tags">

                    <mat-chip *ngFor="let tag of supplier.tags"
                              removable="true" (removed)="supplier.removeTag(tag)">
                      {{tag}}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                  </mat-chip-list>
                  <input matInput
                         matChipInputAddOnBlur="true"
                         (matChipInputTokenEnd)="supplier.addTag($event)"
                         placeholder="Add tag..."
                         [matChipInputFor]="tagList"/>
                </mat-form-field>-->
          </div>
          <!--</mat-tab>

          </mat-tab-group>-->
        </form>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->
</div>