<div id="orders" class="page-layout carded fullwidth" fusePerfectScrollbar>
  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->
  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
      fxLayoutAlign.gt-xs="space-between center">

      <!-- APP TITLE -->
      <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">shopping_basket</mat-icon>
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Orders</span>
      </div>
      <!-- / APP TITLE -->
      
      <!-- SEARCH -->
      <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
        <label for="search" class="mr-8">
          <mat-icon class="secondary-text">search</mat-icon>
        </label>
        <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
          <input id="search" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
      <!-- / SEARCH -->
      <div mat-raised-button  class="add-product-button mat-white-bg my-12 mt-sm-0">
      </div>
      </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <mat-table class="orders-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}">

        <!-- Date Column -->
        <ng-container cdkColumnDef="date">
          <mat-header-cell *cdkHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Date</mat-header-cell>
          <mat-cell *cdkCellDef="let order">
            <p class="text-truncate">{{order.created_at | date: 'dd-MMM-yyyy'}}</p>
          </mat-cell>
        </ng-container>

        <!-- Order_ID Column -->
        <ng-container cdkColumnDef="order_id">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Order ID</mat-header-cell>
          <mat-cell *cdkCellDef="let order">
            <p>{{order.order_uuid}}</p>
          </mat-cell>
        </ng-container>

        <!-- Customer Column -->
        <ng-container cdkColumnDef="customer">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Customer</mat-header-cell>
          <mat-cell *cdkCellDef="let order">
            <p class="text-truncate">{{order.user.name}}</p>
          </mat-cell>
        </ng-container>

        <!-- Status Column -->
        <ng-container cdkColumnDef="status">
          <mat-header-cell *cdkHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Status</mat-header-cell>
          <mat-cell *cdkCellDef="let order">
            <p class="text-truncate">{{order.status.replace(order.status[0], order.status[0].toUpperCase())}}</p>
          </mat-cell>
        </ng-container>

        <!-- Total Column -->
        <ng-container cdkColumnDef="total">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Total</mat-header-cell>
          <mat-cell *cdkCellDef="let order">
            <p class="text-truncate">{{getTotalAmount(order)}}</p>
          </mat-cell>
        </ng-container>

        <br>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *cdkRowDef="let order; columns: displayedColumns;" matRipple class="element-row" [cdkDetailRow]="order"
          [cdkDetailRowTpl]="tpl" (toggleChange)="onToggleChange($event, order)">
        </mat-row>

      </mat-table>
      <ng-template #tpl let-order>
        <div class="" [@detailExpand] style="overflow: hidden;background: #f3efef;">
          <div class="row" style="border-top: 1px solid #e4e7ed;border-bottom: 1px solid #e4e7ed;">
            <div class="col-md-4 row">
              <div class="col-md-4">
                <h3 style="padding-top: 10%;padding-left: 50%;"><b>Billing</b></h3><br>
                <button ngxClipboard [cbContent]="order.user.name + ' ' + getAddress(order.billing.billing_address).no + ' ' +
                      getAddress(order.billing.billing_address).street + ' ' + getAddress(order.billing.billing_address).city + ', ' +
                      getAddress(order.billing.billing_address).postol_code + ' ' + getAddress(order.billing.billing_address).country"
                  style="min-width: 0px;margin-left: 20px!important" mat-raised-button class="m-1" (click)="copied()"
                  color="accent">Copy</button><br>
                <mat-icon class="s-16" style="float: right;padding-top: 25%;">email</mat-icon><br>
                <mat-icon class="s-16" style="float: right;padding-top: 40%;">today</mat-icon>
              </div>
              <div class="col-md-6" style="border-left: 1px solid #e4e7ed!important;">
                <span class="text-truncate qview-address" [ngClass]="{'clipboard-string': clipUI}" style="padding: 10px 0px;">{{order.user.name}}<br>
                  {{getAddress(order.billing.billing_address).no}},
                  {{getAddress(order.billing.billing_address).street}}<br>
                  {{getAddress(order.billing.billing_address).city}},
                  {{getAddress(order.billing.billing_address).postol_code}}<br>
                  {{getAddress(order.billing.billing_address).country}}</span><br>
                <span style="padding: 10px 0px;">{{order.user.email}}</span><br>
                <span class="text-truncate" style="padding: 12px 0px;">{{order.created_at}}</span>
              </div>
            </div>
            <div class="col-md-4 row">
              <div class="col-md-4">
                <h3 style="padding-top: 10%;padding-left: 30%;"><b>Shipping</b></h3><br>
                <button ngxClipboard [cbContent]="order.user.name + ' ' + getAddress(order.billing.delivery_address).no + ' ' +
                        getAddress(order.billing.delivery_address).street + ' ' + getAddress(order.billing.delivery_address).city + ', ' +
                        getAddress(order.billing.delivery_address).postol_code + ' ' + getAddress(order.billing.delivery_address).country"
                  style="min-width: 0px;margin-left: 20px!important" mat-raised-button class="m-1" (click)="shipCopied()"
                  color="accent">Copy</button><br>
                <mat-icon class="s-16" style="float: right;padding-top: 25%;">email</mat-icon><br>
                <mat-icon class="s-16" style="float: right;padding-top: 40%;">local_shipping</mat-icon><br>
                <mat-icon class="s-16" style="float: right;padding-top: 55%;padding-left: 20%">attach_money</mat-icon><br>
                <mat-icon class="s-16" style="float: right;padding-top: 70%;padding-left: 50%">credit_card</mat-icon>
              </div>
              <div class="col-md-6" style="border-left: 1px solid #e4e7ed!important;">
                <span class="text-truncate qview-address" [ngClass]="{'clipboard-string': shipClipUI}" style="padding: 10px 0px;">{{order.user.name}}<br>
                  {{getAddress(order.billing.delivery_address).no}},
                  {{getAddress(order.billing.delivery_address).street}}<br>
                  {{getAddress(order.billing.delivery_address).city}},
                  {{getAddress(order.billing.delivery_address).postol_code}}<br>
                  {{getAddress(order.billing.delivery_address).country}}</span><br>
                <span style="padding: 10px 0px;">{{order.user.email}}</span><br>
                <span class="text-truncate" style="padding: 12px 0px;">No Shipping Method</span>
                <span class="text-truncate">0.00</span>
                <span class="text-truncate" style="padding: 12px 0px;">N/A</span>
              </div>
            </div>
            <div class="col-md-4 row">
              <div class="col-md-4">
                <h3 style="padding-top: 10%;padding-left: 55%;"><b>Order</b></h3>
                <p style="padding-left: 40%;">{{getTotalItems(order)}} items</p>
              </div>
              <div class="col-md-8" style="border-left: 1px solid #e4e7ed!important;">
                <mat-form-field class="w-180">
                  <mat-select [(ngModel)]="orderStatus" (change)="onStatusChange(order)">
                    <mat-option *ngFor="let status of statusList" [value]="status.id">
                      {{status.name.replace(status.name[0], status.name[0].toUpperCase())}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <ng-container *ngFor="let item of order.line_items">
                  <span style="padding: 10px 0px;">{{item.quantity}} x {{item.title}}</span>
                  <span style="float:right;padding-left: 40%">{{item.quantity * item.price_paid}} <b>Rs</b></span><br>
                </ng-container>
                <button mat-mini-fab>
                  <mat-icon style="color: #ffffff" aria-label="Shipping Items">local_shipping</mat-icon>
                </button><br>
                <div style="padding-top: 25px;margin-top: 5px;border-top: 1px solid #e4e7e0!important;">
                  <h4>Subtotal<span style="float: right">{{getTotalAmount(order)}}</span></h4><br>
                  <h4>Shipping<span style="float: right">0.00</span></h4><br>
                  <h3><b>GRAND TOTAL<span style="float: right">{{getTotalAmount(order)}}</span></b></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>