<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
      fxLayoutAlign.gt-xs="space-between center">

      <!-- APP TITLE -->
      <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">category</mat-icon>
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Categories</span>
      </div>
      <!-- / APP TITLE -->


      <button mat-raised-button [routerLink]="'/categories/new'" class="add-product-button mat-white-bg my-12 mt-sm-0">
        <span>ADD NEW CATEGORY</span>
      </button>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <mat-card fusePerfectScrollbar>
        <!-- <tree-root class="expand-tree" #tree [options]="options" [nodes]="nodes"></tree-root> -->

        <!-- <div class="example-container mat-elevation-z8">
          <div class="row" style="border: 1px solid; margin-left: 0px; padding: 10px; background-color: #C1C1C1; margin-right: 0px;">
            <div class="col-md-2 col-border">Category Name</div>
            <div class="col-md-4 col-border">Notes</div>
            <div class="col-md-6"></div>
          </div>
          <ng-container *ngFor="let category of categories">
            <div class="row" style="border-bottom: 1px solid; margin-left: 0px; padding: 10px; margin-right: 0px;">

              <div class="col-md-2 col-border">{{category.name}}</div>
              <div class="col-md-4 col-border">{{category.notes}}</div>
              <div class="col-md-6">

              </div>


            </div>
            <div *ngIf="category.children.length > 0" style="cursor: pointer">
              <i class="material-icons" (click)="show(category.id)">
                add_circle
              </i>
              <ng-container *ngFor="let child of categoryChildren" >
                <div class="row" style="border-bottom: 1px solid; margin-left: 0px; padding: 10px; margin-right: 0px;">
                  <div class="col-md-2 col-border">{{child.name}}</div>
                  <div class="col-md-6 col-border">{{child.notes}}</div>
                  <div class="col-md-2"></div>
                </div>
              </ng-container>

            </div>
          </ng-container>

        </div> -->
        <ng-container *ngFor="let category of categories">
          <mat-accordion>
            <mat-expansion-panel (opened)="show(category.id)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{category.name}}
                </mat-panel-title>
                <mat-panel-description>
                  {{category.notes}}
                </mat-panel-description>
              </mat-expansion-panel-header>

              <ng-container *ngFor="let child of categoryChildren">
                <mat-accordion>
                  <mat-expansion-panel (opened)="show(category.id)">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{child.name}}
                      </mat-panel-title>
                      <mat-panel-description>
                        {{child.notes}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                </mat-accordion>
              </ng-container>
            </mat-expansion-panel>
          </mat-accordion>
        </ng-container>
      </mat-card>



    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>