<div id="supplier" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="70">

        <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/categories'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <!-- <div class="product-image mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"> -->
        <!-- <img *ngIf="supplier.contact.profile_image" [src]="supplier.contact.profile_image">
          <img *ngIf="!supplier.contact.profile_image" [src]="'assets/images/ecommerce/product-image-placeholder.png'"> -->
        <!-- <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">category</mat-icon>
        </div> -->

        <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">category</mat-icon>
        </div>

        <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="pageType ==='edit'">
            {{supplier.name}}
          </div>
          <div class="h2" *ngIf="pageType ==='new'">
            New Category
          </div>
          <div class="subtitle secondary-text">
            <span>Category Detail</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

      <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0" *ngIf="!checkPageType()"
        (click)="store()">
        <span>ADD</span>
      </button>
      <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0" *ngIf="checkPageType()">
        <span>Delete</span>
      </button>
      <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0" [disabled]="categoryForm.invalid || categoryForm.pristine"
        *ngIf="checkPageType()" (click)="store()">
        <span>SAVE</span>
      </button>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <!-- CONTENT -->
      <div class="content">

        <form name="categoryForm" [formGroup]="categoryForm" class="product w-100-p" fxLayout="column" fxFlex>

          <!--<mat-tab-group>

            <mat-tab label="Basic Info">-->
          <div class="tab-content p-24" fusePerfectScrollbar>

            <mat-form-field class="w-100-p">
              <mat-label>Category Name</mat-label>
              <input matInput name="name" formControlName="name" placeholder="Category Name" required>
            </mat-form-field>
            <mat-label>Parent Category</mat-label>
            <tree-root class="expand-tree" #tree [options]="options" [nodes]="nodes" (activate)="activeNodes(tree.treeModel)"></tree-root>

            <mat-form-field class="w-100-p">
              <mat-label>Select Parent Category Above</mat-label>
              <input matInput name="parentName" readonly formControlName="parentName" placeholder="Parent Name" value="{{parentCat}}" />
            </mat-form-field>

            <div class="row">
              <div class="col-md-12" style="text-align:center">
                  <label>Small (180x135)</label>

                  <!-- <div class="center">
                      <file-drop headertext="Drop files here" (onFileDrop)="dropped($event, 'small')" required>
                          <span>
                              <img [src]="url" width="100" height="100">
                          </span>
                      </file-drop>
                  </div> -->
                  <div class="dropzone" [dropzone]="config" (canceled)="onCanceled($event)" (error)="onUploadError($event)"
                      (success)="onUploadSuccess($event)"></div>
              </div>
              <!-- -->


          </div>
          <br>
          <div class="row" *ngIf="pageType" style="text-align:center">
              <ng-container>
                  <div class="col-md-2">
                      <img src="{{baseURL}}{{categories.image.small}}" width="150" height="150">
                      <br>
                      <br>
                      <button (click)="removeImage(image.id)" type="btn" class="btn btn-danger btn-xs">
                          <i class="material-icons">
                              delete
                          </i></button>
                  </div>
              </ng-container>

          </div>

            <!-- <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0" (click)="addNode(tree.treeModel)">
              <span>ADD</span>
            </button> -->

          </div>
          <!--</mat-tab>

          </mat-tab-group>-->
        </form>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->
</div>