<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
      fxLayoutAlign.gt-xs="space-between center">

      <!-- APP TITLE -->
      <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">category</mat-icon>
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Categories</span>
      </div>
      <!-- / APP TITLE -->


      <button mat-raised-button [routerLink]="'/categories/new'" class="add-product-button mat-white-bg my-12 mt-sm-0">
        <span>ADD NEW CATEGORY</span>
      </button>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <mat-card fusePerfectScrollbar>
        <div class="example-container mat-elevation-z8">
          <div class="row" style="border: 1px solid; margin-left: 0px; padding: 10px; margin-right: 0px;">
            <div class="col-md-3 col-border">Category Name</div>
            <div class="col-md-2 col-border">No. of Products</div>
            <div class="col-md-1 col-border">Move</div>
            <div class="col-md-2 col-border">Notes</div>
            <div class="col-md-2 col-border">Sub Categories</div>
            <div class="col-md-2 col-border">Action</div>
          </div>
          <ng-container *ngFor="let category of categories">
            <category-child [category]='category' (categoryMoved)="refresh()">

            </category-child>
          </ng-container>
        </div>
      </mat-card>



    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>